pipeline/Auto Pipeline_ver1.json
{
	"name": "Auto Pipeline_ver1",
	"properties": {
		"activities": [
			{
				"name": "Lookup Mapping Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select Src, Des, TableType from TrafficCop.Mapping\nwhere IsActive = 1 and Id = @{pipeline().parameters.id}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLServer_DIL_Dataset",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "Mapping",
							"schema": "TrafficCop"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Switch",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Lookup Mapping Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@substring(variables('fileNameItem'), 0, indexof(variables('fileNameItem'), '_'))",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "ImpactArea"
						},
						{
							"value": "OperationType",
							"activities": [
								{
									"name": "Execute OperationType",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "OutcomeEnablingArea",
							"activities": [
								{
									"name": "Execute OutcomeEnablingArea",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "PlanCountry",
							"activities": [
								{
									"name": "Execute PlanCountry",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "Plan",
							"activities": [
								{
									"name": "Execute Plan",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "Strategy",
							"activities": [
								{
									"name": "Execute Strategy",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "ImpactStatement",
							"activities": [
								{
									"name": "Execute ImpactStatement",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "OutcomeStatement",
							"activities": [
								{
									"name": "Execute OutcomeStatement",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "OutputStatement",
							"activities": [
								{
									"name": "Execute OutputStatement",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"fileNameLookUp": {
				"type": "String",
				"defaultValue": "fileNameLookUp"
			},
			"fileNameItem": {
				"type": "String",
				"defaultValue": "fileNameItem"
			}
		},
		"folder": {
			"name": "BoardToDIL_ver1"
		},
		"annotations": []
	}
}