pipeline/Auto Processing - ImpactArea.json
{
	"name": "Auto Processing - ImpactArea",
	"properties": {
		"activities": [
			{
				"name": "Switch",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.Des",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "ImpactArea",
							"activities": [
								{
									"name": "Lookup Configuration File",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "select FileName from TrafficCop.Dimension\nwhere IsTracked = 0 and FileName like 'ImpactArea%';\nupdate TrafficCop.Dimension\nset IsTracked = 1\nwhere IsTracked = 0 and FileName like 'ImpactArea%';",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "SQLServer_DIL_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"fileName": "Dimension",
												"schema": "TrafficCop"
											}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "ForEach FileName",
									"type": "ForEach",
									"dependsOn": [
										{
											"activity": "Lookup Configuration File",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"items": {
											"value": "@activity('Lookup Configuration File').output.value",
											"type": "Expression"
										},
										"activities": [
											{
												"name": "Copy from ADLS to SQLServer",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "SqlServerSink",
														"tableOption": "autoCreate"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "Impact Area",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "ImpactArea",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ImpA Desc",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "ImpactAreaDescr",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "ImpA Long Desc",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "ImpactAreaLongDescr",
																	"type": "String",
																	"physicalType": "nvarchar"
																}
															},
															{
																"source": {
																	"name": "Date_Time",
																	"type": "String",
																	"physicalType": "nvarchar"
																},
																"sink": {
																	"name": "Date_Time",
																	"type": "DateTime",
																	"physicalType": "datetime"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": true,
															"dateTimeFormat": "dd/MM/yyyy HH:mm:ss"
														}
													}
												},
												"inputs": [
													{
														"referenceName": "SQLServer_Board_Dataset",
														"type": "DatasetReference",
														"parameters": {
															"fileName": {
																"value": "@item().FileName",
																"type": "Expression"
															},
															"schema": "full_ext_final"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "SQLServer_DIL_Dataset",
														"type": "DatasetReference",
														"parameters": {
															"fileName": "ImpactArea",
															"schema": "tem"
														}
													}
												]
											}
										]
									}
								}
							]
						},
						{
							"value": "OperationType",
							"activities": [
								{
									"name": "Execute OperationType",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "OutcomeEnablingArea",
							"activities": [
								{
									"name": "Execute OutcomeEnablingArea",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "PlanCountry",
							"activities": [
								{
									"name": "Execute PlanCountry",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "Plan",
							"activities": [
								{
									"name": "Execute Plan",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "Strategy",
							"activities": [
								{
									"name": "Execute Strategy",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "ImpactStatement",
							"activities": [
								{
									"name": "Execute ImpactStatement",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "OutcomeStatement",
							"activities": [
								{
									"name": "Execute OutcomeStatement",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "OutputStatement",
							"activities": [
								{
									"name": "Execute OutputStatement",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Des": {
				"type": "string",
				"defaultValue": "Des"
			}
		},
		"folder": {
			"name": "BoardToDIL_ver1"
		},
		"annotations": []
	}
}