pipeline/Auto Processing - ImpactArea.json
{
	"name": "Auto Processing - ImpactArea",
	"properties": {
		"activities": [
			{
				"name": "Switch",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.Des",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "ImpactArea",
							"activities": [
								{
									"name": "Lookup Configuration File",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "select FileName from TrafficCop.@{variables('fileNameLookUp')}\nwhere IsTracked = 0;\nupdate TrafficCop.@{variables('fileNameLookUp')}\nset IsTracked = 1;",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "SQLServer_DIL_Dataset",
											"type": "DatasetReference",
											"parameters": {
												"fileName": {
													"value": "@variables('fileNameLookUp')",
													"type": "Expression"
												},
												"schema": "TrafficCop"
											}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "ForEach FileName",
									"type": "ForEach",
									"dependsOn": [
										{
											"activity": "Lookup Configuration File",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"items": {
											"value": "@activity('Lookup Configuration File').output.value",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "OperationType",
							"activities": [
								{
									"name": "Execute OperationType",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "OutcomeEnablingArea",
							"activities": [
								{
									"name": "Execute OutcomeEnablingArea",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "PlanCountry",
							"activities": [
								{
									"name": "Execute PlanCountry",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "Plan",
							"activities": [
								{
									"name": "Execute Plan",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "Strategy",
							"activities": [
								{
									"name": "Execute Strategy",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "ImpactStatement",
							"activities": [
								{
									"name": "Execute ImpactStatement",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "OutcomeStatement",
							"activities": [
								{
									"name": "Execute OutcomeStatement",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "OutputStatement",
							"activities": [
								{
									"name": "Execute OutputStatement",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Des": {
				"type": "string",
				"defaultValue": "Des"
			}
		},
		"folder": {
			"name": "BoardToDIL_ver1"
		},
		"annotations": []
	}
}